<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #444;
    }
    th {
      background-color: #444;
      color: #ffffff;
    }
    td {
      background-color: #3c3c3c;
      color: #f0f0f0;
    }
    .highlight {
      color: #ffd700;
      font-weight: bold;
    }
    span {
      font-weight: 800;
    }
    .positive {
      color: green;
      font-weight: bold;
    }
    .negative {
      color: red;
      font-weight: bold;
    }
    .zero {
      color: gray;
      font-weight: bold;
    }
    .line {
      height: 2px;
      background: grey;
      width: 100%
    }
  </style>
</head>
<body style="margin: 0; padding: 0; background-color: #2c2c2c; color: #f0f0f0; font-family: Arial, sans-serif, border-radius:10px;">
  <div style="background-color: #333; padding: 20px; border-radius: 8px; max-width: 600px; margin: 20px auto; color: #f0f0f0;">
    <h1 style="color: #ffffff;">Hello <%= @manager.name %>,</h1>
    <p>The game <span><%= @game.name %></span> (ID: <%= @game.id %>) that took place on <span><%= @game.date %></span> has been completed successfully and now submitted. A
    downloadable PDF is now available at the events page. Click here to log in.</p>
    <p>Total earnings: <strong style="font-weight: 800;"> <%= number_to_currency(@unique_carts.sum { |cart| cart.worker_total }, unit:"£", precision:2, delimiter:",") %></strong></p>
    <p>Total earnings should be: <strong style="font-weight: 800;"><%= number_to_currency(@unique_carts.sum { |cart| cart.total_value }, unit: "£", precision: 2, delimiter: ",") %></strong></p>
    <div class="line"></div>
    <p>Margin: <strong class="<%= @margin >= 0 ? 'postitive' : 'negative' %>"><%= number_to_currency(@margin, unit: "£", precision: 2, delimiter: ",") %></strong></p>

    <h2 style="color: #ffffff;">Details:</h2>
    <table>
      <thead>
        <tr>
          <th>Worker (Cart)</th>
          <th>Cart Value</th>
          <th>Worker Value</th>
          <th>Difference</th> <!-- New column for difference -->
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <td><%= cart.workers.map(&:name).join(', ') %> <span>(<%= cart.cart_number %>)</span></td>
            <td>£<%= cart.total_value %></td>
            <td>£<%= cart.worker_total %></td>
            <% difference = (cart.worker_total - cart.total_value) %>
           <td class="<%= 
              difference == 0 ? 'zero' : (difference > 0 ? 'positive' : 'negative')
            %>">
              £<%= format('%.2f', difference.abs) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>Game was managed by <span><%= @manager.name %></span></p>

    <div style="margin-top: 20px; text-align: center; font-size: 0.9em; color: #aaaaaa;">
      <p>Click here to log in and view the full summary of the game.</p>
    </div>
  </div>
</body>
</html>
